.category-main {
    // margin-top: 100px;
    padding-top: 1.5rem;
}

.category-inner {
    background-color: white;

}

.category-header {
    padding: 20px;
    text-align: left;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    height: 150px;
    border: 0.5px solid rgb(231, 228, 228);
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: calc(10%);
}

.category-image {
    height: 70px;
    width: 70px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.category-name {
    text-align: center;
    width: 100%;
    height: 3.125rem;
    font-size: 1.4rem;
    padding-top: 15px;
}

.category-item:hover {
   box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



 