$color--red: #ee4d2d;
$color--white: #ffffff;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    & img {
        width: 50%;
        padding-top: 15px;
        padding-bottom: 24px;
        cursor: pointer;
    }

    & span {
        font-size: 30px;
    }

    & a {
        text-decoration: none !important;
        color: #ee4d2d !important;
        font-size: 16px;
    }
}
.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $color--red;
    padding: 60px 0px;

    & .login__logo {
        & img {
            width: 80%;
        }
    }

    & .login__form {
        display: flex;
        flex-direction: column;
        width: 380px;
        border: none;
        border-radius: 4px;
        padding: 30px;
        background-color: $color--white;
        box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2);
        margin-right: 12%;

        & .title {
            text-align: left;
            font-size: 22px;
        }

        & .error_login {
            display: flex;
            align-items: center;
            color: red;
            border: 1px solid #ef4f4f;
            border-radius: 4px;
            padding: 10px;
            margin-top: 15px;

            & svg {
                width: 30px;
                height: 30px;
            }
        }

        & .form {
            position: relative;
            display: flex;
            flex-direction: column;

            & .error {
                color: red;
                font-size: 12px;
                margin: 0;
                margin-bottom: -10px;
                // margin-top: -10px;
                text-align: left;
            }

            & input {
                padding: 2px 50px 2px 10px;
                margin-top: 35px;
                font-size: 15px;
                height: 42px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            & .showPassword {
                position: absolute;
                top: 50%;
                right: 5%;
            }

            & .btnLogin {
                padding: 10px;
                margin-top: 35px;
                font-size: 16px;
                text-transform: uppercase;
                color: #fff8f7;
                background-color: $color--red;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        & .forgotPass {
            display: flex;
            justify-content: space-between;

            & a {
                text-decoration: none;
                color: #05a;
                font-size: 12px;
                margin-top: 6px;
            }
        }

        & .or {
            display: flex;
            padding-top: 15px;
            & .line {
                margin-top: 12px;
                height: 1px;
                width: 100%;
                background-color: #dbdbdb;
            }

            & span {
                text-transform: uppercase;
                font-size: 16px;
                padding: 0px 8px;
                color: #ccc;
            }
        }

        & .or_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;

            & .or_items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32%;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 8px 2px;
                cursor: pointer;

                & span {
                    font-size: 13px;
                    padding-left: 6px;
                }

                & svg {
                    font-size: 25px;
                }
            }
        }

        & .guest {
            text-align: center;
            padding-top: 30px;

            & span {
                color: #ccc;
            }

            & .navigate {
                text-decoration: none;
                color: $color--red;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////////////Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    header {
        padding: 0px 100px;

        & span {
            font-size: 22px;
        }

        & a {
            font-size: 14px;
        }
    }

    .login {
        flex-direction: column;
        align-items: center;

        & .login__logo {
            & img {
                width: 50%;
            }
        }

        & .login__form {
            width: 50%;
            margin: 0;
        }
    }
}

/////////////////////////////////////////////////////////////Mobile
@media only screen and (max-width: 739px) {
    header {
        padding: 0px 30px;
        & img {
            width: 50%;
            padding-top: 15px;
            padding-bottom: 24px;
        }

        & span {
            font-size: 20px;
        }

        & a {
            font-size: 12px;
        }
    }

    .login {
        flex-direction: column;
        align-items: center;
        padding-top: 0;

        & .login__logo {
            & img {
                width: 50%;
            }
        }

        & .login__form {
            width: 70%;
            margin: 0;
        }
    }
}
