.product-home__main {
    margin-top: 30px;
}

.product-home__header {
    background-color: white;
}

.product-home__today {
    width: 225px;
    padding: 15px 36px;
    border-bottom: 4px solid rgb(238, 77, 45);
}

.product-home__title {
    color: rgb(238, 77, 45); 
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

